<div class="container-fluid">
    <div class="img-container">
        <img class="img" src="../../../../assets/images/sergey-brin-getty_573x300.jpg" alt="">
    </div>
    <div class="about">
        <div class="title">ABOUT</div>
        <a>Who we are </a>
        <a>Our Vision</a>
    </div>
    <div class="condition">
        <div class="title">CONDITION</div>
        <a>Term of Services </a>
        <a>Private Policy</a>
    </div>
    <div class="contact">
        <div class="title">CONTACT</div>
        <a> Help Center</a>
        <a>Community</a>
    </div>
    <div class="link-container">
        <div class="link">
            <a> Copyright@2019.All rights reserwed</a>
        </div>
        <div class="icon">
            <a href="#"><img class="facebook" src="../../../../assets/images/facebook.svg" /></a>
            <a href="#"><img class="google" src="../../../../assets/images/facebook.svg" /></a>
            <a href="#"><img class="github" src="../../../../assets/images/facebook.svg" /></a>
        </div>
    </div>
</div>
<div class="responsive">
    <div class="footer-left">
        <img class="img-2" src="../../../../assets/images/sergey-brin-getty_573x300.jpg" alt="">
        <p> Copyright@2019.</p>
        <p>All rights reserwed</p>
        <a href="#"><img class="facebook-2" src="../../../../assets/images/facebook.svg" /></a>
        <a href="#"><img class="google-2" src="../../../../assets/images/facebook.svg" /></a>
        <a href="#"><img class="github-2" src="../../../../assets/images/facebook.svg" /></a>
    </div>
    <div class="footer-right">
        <div class="about2">
            <div class="title2">ABOUT</div>
            <a>Who we are Our Vision </a>

        </div>
        <div class="condition2">
            <div class="title2">CONDITION</div>
            <a>Term of Services Private Policy</a>

        </div>
        <div class="contact2">
            <div class="title2">CONTACT</div>
            <a> Help Center Community</a>

        </div>
    </div>


</div>