<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-12 ">
      <h3 class="title">Welcom to Nimspace !</h3>
      <p>
        Befor you sign up, please install Golinks in Google
      </p>
      <p>
        Chrome store as chrome extension. Click URL to go
      </p>
      <p>
        to Google Chrome store
      </p>
      <br>
      <div class="home">
        <mat-form-field class="link-google">
          <input matInput value="   https://chrome.google.com/webstore/detail/golinks/mdkgf" readonly>
        </mat-form-field>
        <div class="center">
          <button mat-raised-button class="copy" color="primary">Copy</button>
        </div>
      </div>
    </div>
  </div>
</div>