<div class="container">
  <div class="item item1">
    <h1>COMPANY'S NAME</h1>
    <mat-form-field class="mat-elevation-z6">
      <span matPrefix>
        <mat-icon> &nbsp;search</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      <input type="tel" matInput class="search" placeholder="Tell us about your search...">
    </mat-form-field>
  </div>
  <div class="item item2">
           <div class="item item3">
        <img class="img-responsive" src="../../../../assets/images/sergey-brin-getty_573x300.jpg"
          title="this image needs to be centered">
      </div>
      <div class="item item4">
        <h4>
          Congratulation! <b>Sergey Bin </b>became the best
        </h4>
        <h4>
          performer of year 2019
        </h4>
      </div>
    </div>
  </div>
 