<div class="container">
  <div class="search-container">
    <h1>COMPANY'S NAME</h1>
    <a  routerLink="/provider/notification"
      routerLinkActive="active-underline"> Moma</a>
    <mat-form-field class="mat-elevation-z6">
      <span matPrefix>
        <mat-icon> &nbsp;search</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      <input type="tel" matInput class="search" placeholder="Tell us about your search...">
    </mat-form-field>
  </div>
  <div class="avatar-container">
    <div class="avatar">
      <img class="img-responsive" src="../../../../assets/images/sergey-brin-getty_573x300.jpg"
        title="this image needs to be centered">
    </div>
    <div class="description-container">
      <div class="description">
        <p>
          Congratulation! <b>Sergey Bin </b>became the best
        </p>
        <p>
          performer of year 2019
        </p>
      </div>

    </div>
  </div>
  <div class="comment">

    <div class="new">Today News</div>

    <div class="avatar-container2">
      <mat-card class="card1">
        <div class="avatar-new">
          <img class="  avatar-comment2" src="../../../../assets/images/sergey-brin-getty_573x300.jpg">
        </div>
        <div class="content-new">
          <p class="content"> <b>Tanya Cooper</b> <span> reminded </span> <b> Winnie Nguyen</b> <span>:" Please remember
              to finist your
              document</span></p>
          <p class="content">task. You have 3 days to finist it. "</p>
          <p class="content">2m</p>
        </div>
        <div class="icon-notifi">
          <img class="notifi2" src="../../../../assets/images/bell.svg">
        </div>
      </mat-card>
    </div>

    <div class="avatar-container2">
      <mat-card class="card2">
        <div class="avatar-new">
          <img class="  avatar-comment2" src="../../../../assets/images/sergey-brin-getty_573x300.jpg">
        </div>
        <div class="content-new">
          <p class="content"> <b>Dorothy Nguyen</b><span>finished her contribution of fixing netword carsh
            </span></p>
          <p class="content">2m</p>
        </div>
        <div class="icon-notifi">
          <img class="notifi2" src="../../../../assets/images/folder.svg">
        </div>
      </mat-card>
    </div>
    <div class="avatar-container2">
      <mat-card class="card3">
        <div class="avatar-new">
          <img class="  avatar-comment2" src="../../../../assets/images/sergey-brin-getty_573x300.jpg">
        </div>
        <div class="content-new">
          <p class="content"><b>Sandy Stard</b> <span> reminded </span> <b> Dorothy</b> <span>:" Will you please remind
              me about
              Fred?</span></p>
          <p class="content">He's coming to visit next week. I will remind you about your appointments for today "</p>
          <p class="content">2m</p>
        </div>
        <div class="icon-notifi">
          <img class="notifi2" src="../../../../assets/images/bell.svg">
        </div>
      </mat-card>
    </div>

    <div class="avatar-container2">
      <mat-card class="card4">
        <div class="avatar-new">

          <img class="  avatar-comment2" src="../../../../assets/images/sergey-brin-getty_573x300.jpg">
        </div>
        <div class="content-new">
          <p class="content"> <b>Woohoo! Amanda received a peer bonus of $100 from John smith</b></p>
          <p class="content">Amanda's excellent work and constant helpfulness greatly facilitated the process of </p>
          <p class="content"> building the i18n dasboard. This process included, at time, tedious sorting of voice</p>
          <p class="content">feature id's which enabled us to pull correct data into dashboard</p>
          <p class="content">2m</p>
        </div>
        <div class="icon-notifi">
          <img class="notifi2" src="../../../../assets/images/coin.svg">1
        </div>
      </mat-card>
    </div>
    <div class="avatar-container2">
      <mat-card class="card5">
        <div class="avatar-new">
          <img class="  avatar-comment2" src="../../../../assets/images/sergey-brin-getty_573x300.jpg">
        </div>
        <div class="content-new">
          <p class="content"> <b>Sergey Bin thanks John Smith for commenting </b></p>
          <p class="content">I wanted to take a monment to thank for John Swith for going the extra mile in</p>
          <p class="content">engineering work with the i18n voice dashboard</p>
          <p class="content">2h</p>
        </div>
        <div class="icon-notifi">
          <img class="notifi2" src="../../../../assets/images/like.svg">
        </div>
      </mat-card>
    </div>

  </div>
</div>