.avatar {
  height: 80px;
  width: 80px;
  border-radius: 80px;
  margin-top: 20px;
  margin-bottom: 23px;
}

.achievement-container {
  margin-top: 30px;
}

.info-container {
  margin-top: 50px;
}

.img {
  text-align: center;
}

.avatar {
  height: 80px;
  width: 80px;
  border-radius: 80px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.name {
  font-size: 15px;
  width: 100%;
  line-height: 4px;
}

.link {
  line-height: 4px;
  font-size: 12px;
  opacity: 0.9;
  width: 100%;
}

p {
  line-height: 16px;
  opacity: 0.9;
  width: 180px;
  word-wrap: break-word;
}

.info-detail-container {
  margin-top: -5px;
}

.info-detail {
  display: flex;
}

.icon {
  margin-top: 10px;
  width: 20%;
}

.icon-info {
  display: flex;
  margin-bottom: 13px;
  margin-left: 20px;
}

.description {
  font-size: 12px;
  width: 80%;
}

.info-description {
  margin-top: 15px;
  margin-left: 20px;
}

span {
  line-height: 10px;
}

.img-achievement {
  width: 24px;
  height: 24px;
  margin-bottom: 12px;
  display: flex;
  margin-left: 20px;
}

.achievement-detail {
  display: flex;
}

.title {
  font-size: 15px;
}

.manager-container {
  height: auto;
}

.managees-container {
  margin-bottom: 30px;
}

.title-manager {
  margin-top: 30px;
  height: 50px;
  margin-left: 24px;
  padding-top: 20px;
}

.managees {
  margin-top: -4px;
}

.search-container {
  margin-top: 50px;
}

.mat-search {
  background-color: white;
  line-height: 1px;
  height: 45px;
  margin-left: 0%;
  padding-left: 0px;
}

.input-search {
  margin-top: -35px;
  font-size: 12px;
}

.edit {
  text-align: right;
}

.btn-edit {
  background-color: white;
  font-size: 11px;
}

.img-edit {
  width: 15px;
  height: 15px;
}
.edit-profile {
  margin-left: 10px;
  opacity: 0.7;
}

.menu-container {
  margin-top: 1px;
  font-size: 12px;
  display: flex;
}

.menu-name {
  width: 30%;
}

.menu-ldap {
  width: 20%;
  text-align: center;
}

.menu-position {
  width: 30%;
  text-align: center;
}

.menu-employee {
  width: 20%;
}

.btn-menu {
  font-size: 12px;
  opacity: 0.9;
}

.img-menu {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}

.ldap {
  margin-top: 10px;
}

span {
  text-overflow: ellipsis;
  white-space: pre;
}

table {
  width: 100%;
}

@media only screen and (max-width: 360px) {
  .edit-profile {
    display: none;
  }
  .mat-search {
    width: 99%;
  }
}
